<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677535983657-n9rf4ikq8v7ek6mgvri7m7lamsvpu7b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677535983657-n9rf4ikq8v7ek6mgvri7m7lamsvpu7b5</string>
	<key>API_KEY</key>
	<string>AIzaSyCGTEQHOczqww6lC_fsazq86AjhB3b4GdY</string>
	<key>GCM_SENDER_ID</key>
	<string>677535983657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.reynollu.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-8fc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-8fc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677535983657:ios:476d3142d0e0d19bf1d438</string>
</dict>
</plist>